html,
body {
  height: 100%;
}



  div p.art {
      display: inline-block;
      min-width: 5em;
      min-height: 8em;
      background-color: whitesmoke;
      padding: 1em;
      margin: 5px;
      border: solid 1px gray;
  }

  #before {
      display: grid;
      grid-template-columns: repeat(3,1fr);
  }

  #bilde {
      background-image: url("Auditorium.jpg");
      height: 100vh;
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
  }